@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --braneiq-primary: #6366f1;
  --braneiq-primary-dark: #4f46e5;
  --braneiq-accent: #06b6d4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
  @apply text-slate-900 antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
